*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('images/bgimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    width: 700px;
    height: auto;
    background-color:azure;
    border-radius: 12px;
    position: relative;
    padding-bottom: 50px;
}

.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 20px 0;
}

.question{
    margin: 10px 40px;
    font-size: 19px;
    font-family: monospace;
    padding-bottom: 15px;
    border-bottom: 0.5px solid black;
}

.answer{
    margin: 10px 50px;
    font-size: 15px;
    font-family: monospace;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}

.question::after{
    content: '+';
    position: absolute;
    right: 35px;
    cursor: pointer;
}

.active .answer{
    height: 40px;
    transition: 0.5s ease;
}

.active .question::after{
    content: "-";
    transition: 0.5s ease;

}

